<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>201310730278-3hp8vt02nq79nv0f0e35b98pla7vdaiu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.201310730278-3hp8vt02nq79nv0f0e35b98pla7vdaiu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>201310730278-2i8p0fl91alb0jjj9oc981ddvd1aev5q.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCv5lG_JWQeoJiJP5fwwbW9V0iZWmNC-s4</string>
	<key>GCM_SENDER_ID</key>
	<string>201310730278</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialLoginsFlutter.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>login-86404</string>
	<key>STORAGE_BUCKET</key>
	<string>login-86404.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:201310730278:ios:8f7736ed407db010a54ee7</string>
</dict>
</plist>